#trips {
    // margin: 1rem;
    display: flex;
    flex-direction: column;
    // justify-self: start;
    // align-self: flex-start;
    gap: 2rem;
    height: 100%;
    // width: 100%;
}

.toTop {
}
